wrapper.twbs {
  max-width:1200px;
  margin: 0 auto;
}

.container {
  padding: 5em;
}


h1 {
  font-size: 34px;
}

h2, .panel-title {
  font-size: 16px;
  color: #2C96CA;
}

.table th, .table td {
  text-align: center;
}

.table th {
  color: #2C96CA;
}

.table .table-caption {
  padding: 1em;
  font-style: italic;
}

.alert {
  margin-top: 5em;
  text-align: center;
}
.alert span {
  font-weight: bold;
}

.alert .cta-button {
  margin-top: 1em;
}

.alert h4, .alert p {
  color: #354552;
}
